* {
    box-sizing: border-box;
}

.sansserif {
    font-family: sans-serif, Arial, Helvetica;
 }

h2 {
    position: relative;
    float: left;
    text-transform: uppercase;
    left: 15rem;
    bottom: 20rem;
}

h1.uppercase {
    text-transform: uppercase;
}

h4 {
    padding: 0 0 1rem 15rem;
}
h3 {
    text-transform: uppercase;
}  

h6 {
    text-align: center;
    color: white;
}

.p-aside {
    color: slategray;
    position: static;
    text-align: left;
}

.section-text {
    float: left;
    margin-left: 15rem;
    margin-top: 2rem;
}

a:link {
    text-decoration: none;
}

a {
    color: #add8e6;
}

aside {
    float: right;
    margin-top: 2rem;
}

header {
    height: 12rem;
    background-color: rgba(60, 58, 185, 0.74); 
}

header h1 {
    padding: 2.5rem 0 0 15rem;
    text-transform: uppercase;    
}

.header-nav {
    height: 4rem;
    background-color: lightgrey;
}

nav a {
    color: black;
    position: relative;
    left: 15rem;
    top: 1.5rem;
    display: inline;
    margin-right: 2em;
}    

nav h3 {
    margin: 0px;
    text-transform: unset;
}
.divider {
    position: relative;
    top:0px;
    left: 1em;
}

#img-side {
    position: relative;
    left: -40px;
}

#img-foot {
    padding: 2rem 0px 0px 0px;
}

#logo {
    position: relative;
    left: 38rem;
    bottom: 25rem;
}

body {
    border: 3px solid black;
}
/* 
.clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

p {
    color: white;
    position: relative;
    text-align: center;
    bottom: 24rem;
}

section p q {
    color: green;
    padding-top: 2em;
}

.p-main {
    color: orangered;
    position: inherit;
    text-align: left;
    left: 15rem;
    width: 50rem;
    z-index: 2;
}

#d-s-h2 {
    color: black;
}

.foot-nav {
    position: relative;
    color: white;
    bottom: 23rem;
    text-align: center;
    z-index: 1;
}

#f-img1 {
    top: 2em;
    position: relative;
    /* width: 100%; */
    /* height: auto; */
    /* background-size: contain; */
    /* background-position: center; */
    /* background-image: url('banner.jpg') no-repeat; */
}

#color {
    color: rgb(56, 155, 189);
}

footer h6 a {
    color: yellow;
    position: relative;
    margin-right: 2em;
    left: unset;
    top: unset;
}