* {
    box-sizing: border-box;
}

.sansserif {
    font-family: sans-serif, Arial, Helvetica;
 }

body {
    border: 3px solid black;
}

.profiles-sec {
     position: relative;
     margin: 4rem 4rem 2rem 15rem;
     z-index: 4;
 }
 
 /* .profiles-foot {
     right: auto;
 } */

 /* .profiles-nav {
     left: -4rem;
 } */

h2 {
    position: relative;
    float: left;
    text-transform: uppercase;
    left: 15rem;
    bottom: 20rem;
}

h1.uppercase {
    text-transform: uppercase;
}

h4 {
    padding: 0 0 1rem 15rem;
}
h3 {
    text-transform: uppercase;
}  

h6 {
    text-align: center;
    color: white;
}

.p-aside {
    color: slategray;
    position: static;
    text-align: left;
}

.section-text {
    float: left;
    margin: 2rem 4rem 2rem 15rem;
    overflow-wrap: break-word;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

a:link {
    text-decoration: none;
}

a {
    color: #add8e6;
}

aside {
    float: right;
    margin-top: 2rem;
    z-index: 1;
}

header {
    height: 12rem;
    background-color: rgba(60, 58, 185, 0.74); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header h1 {
    padding: 2.5rem 0 0 15rem;
    text-transform: uppercase; 
    font-style: italic;
    font: bold;
    transition: color 4s;
}

header h1:hover {
    color: white;
}

.divider {
    position: relative;
    top:0px;
    left: 1em;
}

#logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 3rem;
    z-index: -19;
}

p {
    color: white;
    position: relative;
    text-align: center;
    bottom: 24rem;
    /* font-size: 2rem; */
}

footer p {
    color: yellow;
    position: relative;
    text-align: center;
    bottom: 2rem;
    z-index: -10;
    overflow: hidden;
}

section a h5 {
    color: black;
}

section p q {
    color: green;
    padding-top: 2em;
}

section p {
    color: red;
    position: unset;
    text-align: unset;
}

.main-div {
    display: flex;
}
/* div section {
    flex-basis: 200px;
}

div aside {
    flex-basis: 200px;
} */

div section p {
    color: orangered;
    left: 15rem;
    width: 50rem;
    z-index: 2;
    font-family: 'Suwannaphum', cursive;
}

div section h2 {
    color: black;
    position: inherit;
    text-align: left;
    left: 15rem;
    width: 50rem;
    z-index: 2;
    font-family: 'Suwannaphum', cursive;
}

.foot-nav {
    position: relative;
    color: white;
    text-align: center;
    z-index: 3;
}

#f-img1 {
    bottom: -15em;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -21;
}

.line-color {
    color: black56, 155, 189);
}

    /* 07.12.20 original tooltip code from https://www.scriptol.com/css/tooltip.php */
.tooltip {
    text-decoration:none;
    position:relative;
  }
   
  .tooltip span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white; 
  }

.tooltip span img {
    float:left;
  }
   
.tooltip:hover span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
  }

.wrapper {    
    background-color: grey;
    width: 100%;
}

.wrapper li a {
    font-weight: 100;
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    position: relative;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
} 

.flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 12rem;
    width: 75%;
}

.flex-nav li {
    flex: 3;
}

.flex-nav .social {
    flex: 1;
    display: flex;
}

.flex-nav a:nth-child(odd) {
    color: deeppink;
}

@media all and (max-width:1000px) {

.flex-nav ul {
    flex-wrap: wrap;
}

.flex-nav li {
    flex: 1 1 50%;
}

.flex-nav .social {
    flex: 1  1 25%;
}

@media all and (max-width:500px) {

    .flex-nav li {
        flex-basis: 100%;
    }
}