* {
    box-sizing: border-box;
}

.sansserif {
    font-family: sans-serif, Arial, Helvetica;
 }

body {
    min-height: 50vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
}

/* .main-div {
    flex-direction: row-reverse;
    flex: 1 0 auto;
} */
 .profiles-sec {
     position: relative;
     margin: 4rem 4rem 2rem 15rem;
     z-index: 4;
 }

 
 /* .profiles-foot {
     right: auto;
 } */

 /* .profiles-nav {
     left: -4rem;
 } */

h2 {
    position: relative;
    float: left;
    text-transform: uppercase;
    left: 15rem;
    bottom: 20rem;
}

h1.uppercase {
    text-transform: uppercase;
}

h4 {
    padding: 0 0 1rem 15rem;
}
h3 {
    text-transform: uppercase;
}  

h6 {
    text-align: center;
    color: white;
}

.p-aside {
    color: slategray;
    position: static;
    text-align: left;
}

.section-text {
    float: left;
    margin: 2rem 4rem 2rem 15rem;
    /* overflow-wrap: break-word; */
    /* overflow: hidden; */
}

a:link {
    text-decoration: none;
}

a {
    color: #add8e6;
}

aside {
    float: right;
    margin-top: 2rem;
    z-index: 1;
}

header {
    height: 12rem;
    background-color: rgba(60, 58, 185, 0.74); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header h1 {
    padding: 2.5rem 0 0 15rem;
    text-transform: uppercase; 
    font-style: italic;
    font: bold;
}

/* .header-nav {
    height: 4rem;
    background-color: lightgrey;
} */

/* nav a {
    color: black;
    position: relative;
    left: 15rem;
    top: 1.5rem;
    display: inline;
    margin-right: 2em;
}     */

/* nav h3 {
    margin: 0px;
    text-transform: unset;
} */
.divider {
    position: relative;
    top:0px;
    left: 1em;
}

#img-side {
    position: relative;
    left: -40px;
}

#logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 3rem;
    z-index: -19;
}

/* .clearfix::after {
    content: "";
    clear: both;
    display: table;
} */

p {
    color: white;
    position: relative;
    text-align: center;
    bottom: 24rem;
    /* font-size: 2rem; */
}

/* <!-- 08.13.20 following div added for practice  --> */
    /* .flex-bird {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      } */

footer p {
    
        color: yellow;
        position: relative;
        text-align: center;
        bottom: 2rem;
        z-index: -10;
        overflow: hidden;

}

section a h5 {
    color: black;
}

section p q {
    color: green;
    padding-top: 2em;
}

section p {
    color: red;
    position: unset;
    text-align: unset;
}

/* .p-main {
    color: orangered;
    position: inherit;
    text-align: left;
    left: 15rem;
    width: 50rem;
    z-index: 2;
    font-family: 'Suwannaphum', cursive;
} */

div section p {
    color: orangered;
    position: inherit;
    text-align: left;
    left: 15rem;
    width: 50rem;
    z-index: 2;
    font-family: 'Suwannaphum', cursive;
}
div section h2 {
    color: black;
    position: inherit;
    text-align: left;
    left: 15rem;
    width: 50rem;
    z-index: 2;
    font-family: 'Suwannaphum', cursive;
}

.foot-nav {
    position: relative;
    color: white;
    /* bottom: 6rem; */
    text-align: center;
    z-index: 3;
}

#f-img1 {
    /* top: 15em; */
    bottom: -15em;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -21;
}

/* #img-foot {
    padding: 2rem 0px 0px 0px;
    z-index: -9; */
}
/* footer h6 a {
    color: yellow;
    position: relative;
    margin-right: 2em;
    left: unset;
    top: unset;
    z-index: -7;
} */

/* footer {
    display: flex;
    flex-direction: column;
} */

.line-color {
    color: black56, 155, 189);
}

    /* 07.12.20 tooltip code from https://www.scriptol.com/css/tooltip.php */
.tooltip {
    text-decoration:none;
    position:relative;
  }
   
  .tooltip span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white; 
  }

.tooltip span img {
    float:left;
  }
   
.tooltip:hover span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    max-width:320px;
    min-height:128px;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
  }

.wrapper {    
    background-color: grey;
    width: 100%;
}

.wrapper li a {
    font-weight: 100;
    /* letter-spacing: 2px; */
    text-decoration: none;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    position: relative;
}

a:hover {
    background: rgba(0, 0, 0, 0.3);
} 

/* Flex Container */
.flex-nav ul {
    /* border: 1px solid black; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 12rem;
    width: 75%;
}

/* .footer-flex-nav {
    z-index: 33;
    border: red;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 11.4rem;
    width: 80%;
} */

/* .bottom-stick {
    flex-shrink: 0;
} */

.flex-nav li {
    flex: 3;
}

.flex-nav .social {
    flex: 1;
    /* border: 1px solid black; */
    display: flex;

}

@media all and (max-width:1000px) {

.flex-nav ul {
    flex-wrap: wrap;
}

.flex-nav li {
    flex: 1 1 50%;
}

.flex-nav .social {
    flex: 1  1 25%;
    /* align-items: center; */
    }
}

@media all and (max-width:500px) {

    .flex-nav li {
        flex-basis: 100%;
    }
}