* {
    box-sizing: border-box;
}

.item1 { grid-area: header; }
.item2 { grid-area: contact; }
.item3 { grid-area: side; }
.item4 { grid-area: affquot; }
.item5 { grid-area: footer; }

iframe {
  padding: 3px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'contact contact contact contact contact side'
    'affquot affquot affquot affquot affquot side'
    'footer footer footer footer footer footer';
  gap: 5px;
  background-color: #add8e6;
  padding: 10px;
}

/* code example from WebAIM & css-tricks */
.skip-link {
  /* background: #319795;
  color: #fff; */
  font-weight: 700;
  left: 5%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
  color: #ffffff;
}

.skip-link:focus {
  background: #319795;
  transform: translateY(0%);
}

.skip-link {
  /* Same as  before */
  transition: transform 1.3s;
}

.grid-container > div {
  /* background-color:  #2196F3; */
  padding: 20px 0;
  font-size: 30px;
}

img {
  /* border: 1px solid black; */
  position: absolute;
  top: 40px;
  left: 40px;
}

.item5 img {
    position: relative;
    /* border: 3px solid black; */
    top: unset;
    left: unset;
}

section h4 img {
  position: relative;
  display: flex;
  margin: 10px;
}

#logo {
  position: relative;
  margin-left: 2rem;
  bottom: -16rem;
  z-index: 2;
  /* border: 3px solid white; */
}

/* footer div img { */
#nock {  
  position:relative;
  z-index: 1;
  color: gray;
  width: 100%;
}

footer ul {
  bottom: -20rem;
  position: relative;
  z-index: 2;
}

.item4-link {
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: flex;
}

section p {
  /* position: relative; */
  /* display: inline; */
}

section h4 {
  /* display: flex; */
  /* position: relative; */
}

.flex-nav {
    /* border: 1px solid black; */
    list-style: none;
    margin-left: 2rem;
    width: 45%;
    flex-wrap: wrap;
    background-color: thistle;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

li a {
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 5px;
}

.people {
  display: flex;
  max-width: 100%;
  /* margin: 40px auto auto; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.people img {
  position: relative;
  top: 10px;
  left: 5px;
  /* flex: 1; */
}

/* Form styling starts here */

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 3rem;
}

input[type=submit] {
  width: 100%;
  background-color: steelblue;
}

input[type=password]:focus {
  background-color: seagreen;
  outline: none;
}

input {
  border-radius: 15px;
}

input[type=submit] {
  width: 20%;
  background-color: green;
  /* outline: red; */
  color: white;
  cursor: pointer;
}

input[type=submit]:focus {
  border: 2px solid red;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  /* border: 2px groove (internal value); */
  border: none;
}

fieldset input {
    display: inline;
}

/* disable browser checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Customize the labels */

.checkbox label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* when box is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* create chkmrk indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* show chkmrk when checked */
.checkmark:after {
  display: block;
}

/* style the checkmark */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
section h1 {
  font-size: 15pt;
  color: hotpink;
}
legend {
  font-size: 15pt;
  color: crimson;
}

.form-div1 label {
  /* font-size: 7pt; */
}
.form-div1 input {
  padding: 10px;
  display: unset;
  margin: 2rem 3rem 2rem 0;
  color: green;
}

.form-div1:nth-child(1) {
  color: purple;
  /* color: red; */
}

.form-div2 {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3em;
}
.form-div2:nth-child(2) {
  color: #800080;
}
.form-div3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}


.form-div3 input {
  margin: unset;
  background-color: coral;
}

.form-div3 label {
  padding: 1em 3em .60em 1em;
  font-size: 1.1em;
  /* border: 2px solid black; */
  display: inline-flex;
  flex-wrap: wrap;
}

.form-div3 legend {
  padding-bottom: 1em;
}

.form-div3 label:nth-child(2n-4) {
  background-color: gainsboro;
  border: 1px solid black;
}